.gmn {
  font-family: 'Press Start 2P', sans-serif;
  color: #eee;
  background-color: #222;
  &_win {
    background-color: #60b347;
  }
  &_lost {
    background-color: chocolate;
  }
  &__header {
    position: relative;
    height: 35vh;
    border-bottom: 7px solid #eee;
  }
  &__main {
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  &__between {
    font-size: 1.4rem;
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
}

.btn-guess {
  font-family: 'Press Start 2P', sans-serif;
  border: none;
  background-color: #eee;
  color: #222;
  font-size: 2rem;
  font-family: inherit;
  padding: 2rem 3rem;
  cursor: pointer;
  &:hover {
    background-color: #ccc;
  }
  &_back {
    position: absolute;
    top: 2rem;
    left: 2rem;
  }
  &_again {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
  }
}
