.main-page-title {
  font-family: 'Press Start 2P', sans-serif;
  font-size: 10vh;
  text-align: center;
}

.item {
  width: calc(100%/3);
}

.game-wrapper {
  min-height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.card {
  width: calc(100%/3);
}

.card-title {
  font-size: 1vw;
  margin-bottom: 1vh;
}

.card-text {
  font-size: 0.7vw;
  margin-bottom: 1vh;
}

.accordion {
  margin-bottom: 1vh;
}

.accordion-button {
  font-size: 0.9vw;
}

.btn {
  font-size: 0.9vw;
}