form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left {
  width: 52rem;
}

.error-message {
  position: absolute;
  top: -3rem;
  text-shadow:1px 1px 15px red;
}